<!DOCTYPE html>
<html>
<head>
    <title>Cricket App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/skeletabs.css" />
    <style>
        body{
            background-image:
            url('bg-img.jpg');
        }
    </style>

</head>

<body>

    <div id="top-bar">
    </div>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div id="header-tabs">
                        <div class="home-banner hidden-lg">
                            <img src="Crichub.jpg" class="img-responsive" />
                        </div>
                        <div class="skltbs-panel-group main-ul-group">
                            <div class="skltbs-panel" id="cricket">
                                <div class="skltbs-panel-group">
                                    <div class="skltbs-panel bg-min" id="fixtures">
                                        <a href="cricket.1.html">
                                            <div class="row match-row">
                                                <div class="col-xs-4 col-lg-3">
                                                    <img src="img/team/ind.png" class="img-responsive" />
                                                    <h4>IND</h4>
                                                </div>
                                                <div class="col-xs-4 col-lg-6">
                                                    <h6>ICC Cricket WC 2011</h6>
                                                    <p>Match 1</p>
                                                </div>
                                                <div class="col-xs-4 col-lg-3">
                                                    <img src="bangladesh.png" class="img-responsive" />
                                                    <h4>BAN</h4>
                                                </div>
                                            </div>
                                        </a>
                                            <a href="cricket.2.html">
                                                <div class="row match-row">
                                                    <div class="col-xs-4 col-lg-3">
                                                        <img src="img/team/ind.png" class="img-responsive" />
                                                        <h4>Ind</h4>
                                                    </div>
                                                    <div class="col-xs-4 col-lg-6">
                                                        <h6>ICC Cricket WC 2011</h6>
                                                        <p>Match 2</p>
                                                    </div>
                                                    <div class="col-xs-4 col-lg-3">
                                                        <img src="england.png" class="img-responsive" />
                                                        <h4>ENG</h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </a>
                                        <a href="cricket.3.html">
                                            <div class="row match-row">
                                                <div class="col-xs-4 col-lg-3">
                                                    <img src="img/team/ind.png" class="img-responsive" />
                                                    <h4>IND</h4>
                                                </div>
                                                <div class="col-xs-4 col-lg-6">
                                                    <h6>ICC Cricket WC 2011</h6>
                                                    <p>Match 3</p>
                                                </div>
                                                <div class="col-xs-4 col-lg-3">
                                                    <img src="ireland.png" class="img-responsive" />
                                                    <h4>IRE</h4>
                                                </div>
                                            </div>
                                        </a>
                                    </a>
                                    <a href="cricket.4.html">
                                        <div class="row match-row">
                                            <div class="col-xs-4 col-lg-3">
                                                <img src="img/team/ind.png" class="img-responsive" />
                                                <h4>IND</h4>
                                            </div>
                                            <div class="col-xs-4 col-lg-6">
                                                <h6>ICC Cricket WC 2011</h6>
                                                <p>Match 4</p>
                                            </div>
                                            <div class="col-xs-4 col-lg-3">
                                                <img src="netherland.png" class="img-responsive" />
                                                <h4>NED</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="cricket.5.html">
                                        <div class="row match-row">
                                            <div class="col-xs-4 col-lg-3">
                                                <img src="img/team/ind.png" class="img-responsive" />
                                                <h4>IND</h4>
                                            </div>
                                            <div class="col-xs-4 col-lg-6">
                                                <h6>ICC Cricket WC 2011</h6>
                                                <p>Match 5</p>
                                            </div>
                                            <div class="col-xs-4 col-lg-3">
                                                <img src="south africa.png" class="img-responsive" />
                                                <h4>SA</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="cricket.6.html">
                                        <div class="row match-row">
                                            <div class="col-xs-4 col-lg-3">
                                                <img src="img/team/ind.png" class="img-responsive" />
                                                <h4>IND</h4>
                                            </div>
                                            <div class="col-xs-4 col-lg-6">
                                                <h6>ICC Cricket WC 2011</h6>
                                                <p>Match 6</p>
                                            </div>
                                            <div class="col-xs-4 col-lg-3">
                                                <img src="West_Indies.png" class="img-responsive" />
                                                <h4>WI</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="cricket.quat.final.html">
                                        <div class="row match-row">
                                            <div class="col-xs-4 col-lg-3">
                                                <img src="img/team/ind.png" class="img-responsive" />
                                                <h4>IND</h4>
                                            </div>
                                            <div class="col-xs-4 col-lg-6">
                                                <h6>ICC Cricket WC 2011</h6>
                                                <p>Quarter Final</p>
                                            </div>
                                            <div class="col-xs-4 col-lg-3">
                                                <img src="aus.png" class="img-responsive" />
                                                <h4>AUS</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="cricket.semi.final.html">
                                        <div class="row match-row">
                                            <div class="col-xs-4 col-lg-3">
                                                <img src="img/team/ind.png" class="img-responsive" />
                                                <h4>IND</h4>
                                            </div>
                                            <div class="col-xs-4 col-lg-6">
                                                <h6>ICC Cricket WC 2011</h6>
                                                <p>Semi Final</p>
                                            </div>
                                            <div class="col-xs-4 col-lg-3">
                                                <img src="pak.png" class="img-responsive" />
                                                <h4>PAK</h4>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="Final.html">
                                        <div class="row match-row">
                                            <div class="col-xs-4 col-lg-3">
                                                <img src="img/team/ind.png" class="img-responsive" />
                                                <h4>IND</h4>
                                            </div>
                                            <div class="col-xs-4 col-lg-6">
                                                <h6>ICC Cricket WC 2011</h6>
                                                <p>Final</p>
                                            </div>
                                            <div class="col-xs-4 col-lg-3">
                                                <img src="https://cdn3.iconfinder.com/data/icons/worldcup-squad-2015/512/Srilanka.png" class="img-responsive" />
                                                <h4>SL</h4>
                                            </div>
                                        </div>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 desktop-info-col">
                    <h2>CricHUB</h2>
                    <p>India's Scorecard of ICC WC 2011</p>
                </div>
            </div>
        </div>
    </header>

    <footer id="footer" class="hidden-lg hidden-sm">
        <ul class="footer-ul">
        </ul>
    </footer>

</body>

</html>
